.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #222;
  color: white;
}

.link {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.link.active {
  color: #00adb5;
}